# HW 3b - Tim Demetriades
## NLP
9/19/2021

The below code is an example of creating a `TF*idf` matrix for the given texts/documents.

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000

The above script seems to work properly as expected. We receive a matrix with the correct normalized (L2-norm)values for `TF*idf`

Let's run the same code with a new set of texts/documents.

In [3]:
texts = [
    "that was a great game", "that game was pretty bad", "great game would recommend", 
    "i hate that game so bad", "that was easily the game of the year"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

        bad     great  great game  that game  that was
0  0.000000  0.577350    0.577350   0.000000   0.57735
1  0.707107  0.000000    0.000000   0.707107   0.00000
2  0.000000  0.707107    0.707107   0.000000   0.00000
3  0.707107  0.000000    0.000000   0.707107   0.00000
4  0.000000  0.000000    0.000000   0.000000   1.00000

Above you can see the new matrix for the normalized `TF*idf` values for the new documents.